/* .countdown-container {
    width: 13.7rem;
    height: 1rem;
    margin-top:31.42rem;
    color: #666666;
    font-size: 0.85rem;
    line-height: 1rem;
  }
  
  .countdown-number{
        background: #ED0007;
        color: #FFF;
        font-weight: bold;
        width: 1.2rem;
        height: 1.04rem;
        line-height: 1.04rem;
        text-align: center;
        display: inline-block;
    } */

    /* .countdown-container {
        text-align: center;
      }
      
      .countdown-info {
        font-size: 14px;
        color: #999;
      }
      
      .countdown-number {
        font-size: 24px;
        background: #ED0007;
        color: #FFF;
        font-weight: bold;
      } */